@model string
<li><a asp-area="" asp-controller="Cameras" asp-action="All">All Cameras</a></li>
<li><a asp-area="" asp-controller="Users" asp-action="Details" asp-route-id="@Model">My Profile</a></li>
<li><a asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="@Model">Edit My Profile</a></li>
<li><a asp-area="" asp-controller="Cameras" asp-action="Add">Add Camera</a></li>
<li><a asp-area="" asp-controller="Account" asp-action="Logout">Log out</a></li>
